# Summarizing Automobile Evaluation Data

In the following project you'll use what you've learned about summarizing categorical data to analyze a sample from a popular open source dataset. This dataset contains information on the cost and physical attributes of several thousand cars. Originally, this dataset was used to train a classification model that assigned an acceptability score/category to cars based on these attributes.

The car evaluation dataset has been sourced from the UCI Machine Learning Repository and has been slightly modified for this project. Specifically, one additional field `manufacturer_country` has been simulated for illustrative purposes. You can read more about the details, features, and original uses of this dataset in research on the [UCI data description page](https://archive.ics.uci.edu/ml/datasets/car+evaluation).

In [25]:
import pandas as pd

car_eval = pd.read_csv('car_eval_dataset.csv')
car_eval.head()

,buying_cost,maintenance_cost,doors,capacity,luggage,safety,acceptability,manufacturer_country
0,vhigh,low,4,4,small,med,unacc,China
1,vhigh,med,3,4,small,high,acc,France
2,med,high,3,2,med,high,unacc,United States
3,low,med,4,more,big,low,unacc,United States
4,low,high,2,more,med,high,acc,South Korea

## Summarizing Manufacturing Country

1. `manufacturer_country` is a _nominal categorical variable_ that indicates the country of the manufacturer of each car reviewed. Create a table of frequencies of all the cars reviewed by `manufacturer_country`. What is the modal category? Which country appears 4th most frequently? Print out your results.

In [30]:
car_eval_country = car_eval["manufacturer_country"].value_counts().reset_index()

car_eval_country_most_popular = car_eval_country["manufacturer_country"].iloc[0]
car_eval_country_4th_popular = car_eval_country["manufacturer_country"].iloc[3]

print(f"The modal country is: {car_eval_country_most_popular}")
print(f"The 4th most frequent country is: {car_eval_country_4th_popular}")

display(car_eval_country)

The modal country is: Japan
The 4th most frequent country is: United States

  manufacturer_country  count
0                Japan    228
1              Germany    218
2          South Korea    159
3        United States    138
4                Italy     97
5               France     87
6                China     73

2. Calculate a table of proportions for countries that appear in `manufacturer_country` in the dataset. What percentage of cars were manufactured in Japan?

In [44]:
car_eval_country_proportion = (car_eval["manufacturer_country"].value_counts(normalize = True)*100).reset_index()

display(car_eval_country_proportion)

japan_proportion = car_eval_country_proportion["proportion"].iloc[0]

print(f"Japan accounts for {japan_proportion}% of the cars manufactured in this dataset")

  manufacturer_country  proportion
0                Japan        22.8
1              Germany        21.8
2          South Korea        15.9
3        United States        13.8
4                Italy         9.7
5               France         8.7
6                China         7.3

Japan accounts for 22.8% of the cars manufactured in this dataset

## Summarizing Buying Costs

3. `buying_cost` is a categorical variable which describes the cost of buying any car in the dataset. Print out a list of the possible values for this variable.

4. `buying_cost` is an _ordinal categorical variable_, which means we can create an order associated with the values in the data and perform numeric operations on the variable. Create a new list, `buying_cost_categories`, that contains the unique values in `buying_cost`, ordered from lowest to highest.

5. Convert `buying_cost` to type `'category'` using the list you created in the previous exercise.

6. Calculate the median category of the `buying_cost` variable and print the result.

## Summarizing Luggage Capacity

7. `luggage` is a categorical variable in the car evaluations dataset that records the luggage capacity for each reviewed car. Calculate a table of proportions for this variable and print the result.

8. Are there any missing values in this column? Replicate the table of proportions from the previous exercise, but do not drop any missing values from the count. Print the result.

9. Without passing `normalize = True` to `.value_counts()`, can you replicate the result you got in the previous exercises?

## Summarizing Passenger Capacity

10. `doors` is a categorical variable in the car evaluations dataset that records the count of doors for each reviewed car. Find the count of cars that have 5 or more doors. You can identify cars with 5+ doors by looking for cars that have a value of `'5more'` in the `doors` column. Print your result.

11. Find the proportion of cars that have 5+ doors and print the result.